*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*BARRA DE NAVEGACION*/

div.desplegable
{
    display: none;
}

nav
{   
    background-color:  #0404E2;
    height: 50px;
    width: 100%;
    display: block;
    margin-top: 0%;
}



ul.menu{
    list-style: none;
    display: flex;
    margin: 10;
    padding: 0;
    float: right;
    overflow: hidden;
}

li.menu
{
    margin: 10px;
    list-style: none;
    margin-top: 15px;
}

.Navegacion a
{
    color: white;
    padding: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

#logo{
    width: 50px;
    height: 50px;
    margin-top: 0;
    padding: 0;
}

.imglogo{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.imglogo2
{
    display:none;
}

#redes
{
    display: none;
}

.RS
{
    display: none;
}

#user
{
    font-size: 20px;
    margin: 5px;
}

@media screen and (max-width:600px)
{
    header nav
    {   
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        width: 40%;
        left: -100%;
        position: fixed; 
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    header nav ul li
    {
        float: none;
        border-bottom: 1px solid #ffffff;
        position: relative;
    }

    div.desplegable
    {
        display: block;
        width: 100%;
        background-color: #0404E2;
    }

    span
    {
        float: right;
        color: #ffffff;
        margin: 10px;
        font-size: 25px;
    }
    
    .imglogo2
    {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 5px;
    }
    
    #logo
    {
        display: none;
    }

    #redes
    {
        display: flex;
        flex-direction: row;
        font-size: 30px;
        color: #ffffff;
        margin: 10px;
        float:none;
        width: 100%;
    }
    
    .RS
    {
        display: flex;
        width: 100%;
    }

    #user
    {
        display: none;
    }
}

@media screen and (max-width:450px)
{
    #redes
    {
        margin: 0px;
    }
}

/*INICIO DE SESION*/

.inicio-sesion
{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background: #0404E2;
    width: 35%;
    height: 30%;
    box-shadow: inset;
}

#input-email
{
    width: 60%;
    
}

#input-contraseña
{
    width: 60%;
}

#iconos-inicio
{
    margin: 0%;
    bottom: 60%;

}

.input-inicio
{
    margin: 10%;
}
/*ESPACIO DENUNCIA*/


#contenedor-de{
    background-color: rgb(231, 231, 231);
    height: 400px;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    border-radius: 2%;

}

#contenedor-de:hover{
    transition-duration: 4s;
    transform: translate(50px);
}
#nombre{
    color: rgb(0, 0, 0);
    height: 30px;
    width: 8rem;
    margin: 20px
}

#nombre:hover{
    color: blue;
    transform:translate(20px)
}

#apellido{
    background-color: black;
    color: white;
    height: 30px;
    width: 8rem;
    margin: 20px;
}

#direccion{
    background-color: black;
    color: white;
    height: 30px;
    width:  8em;
    margin: 20px;
}

#telefono{
    background-color: black;
    color: white;
    height: 30px;
    width: 8rem;
    margin: 20px;
    
}
#email{
    background-color: black;
    color: white;
    height: 30px;
    width: 17rem;
    margin: 20px ;
    
}
#descripcion-caso{
    background-color: black;
    color: white;
    height: 50px;
    width: 20rem;
    margin: 20px ;
    display: block;
    
}

@media screen and (max-width:900px)
{
    #contenedor-de{
        width: auto;
        height: auto;
        margin: 10px;
    }

    
    #descripcion-caso{
        width: auto;
        height: auto;
    }

    #email{
        width: auto;
        height: auto;
    }
}
